@model IEnumerable<Next.Models.Server>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CPUSortParam"]">@Html.DisplayNameFor(model => model.CPU)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RAMSortParam"]">@Html.DisplayNameFor(model => model.RAM)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OSSortParam"]">@Html.DisplayNameFor(model => model.OS)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DataCenterSortParam"]">@Html.DisplayNameFor(model => model.DataCenter)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCenter.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
