@model IEnumerable<Next.Models.User>

@{
    ViewData["Title"] = "Index";
}
<h1 id="header">Users</h1>
<div id="tran"></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.isAdmin)
                </th>
              
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAdmin)
                </td>

                <td>
                   <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                   @if(!item.isAdmin){
                     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                   }
                </td>
            </tr>
            }
        </tbody>
    </table>
 

